  <ul>
<div class="grid">
    <% @letters.each do |letter| %>
      <div class="letter-box">
        <li class="letter"><%= letter %></li>
      </div>
    <% end %>
</div>
  </ul>

<form class="form-inline" action="/score" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= hidden_field_tag :letters, @letters %>
  <div class="input-group">
    <input class="form-control" type="text" name="word" placeholder="Your guess here...">
    <div class="input-group-append">
      <input class="btn btn-primary" type="submit" value="Play">
    </div>
  </div>
</form>
